

.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center
}

.flex {
	display: -ms-flexbox;
	display: flex
}

.flex-center {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

@media screen and (max-width:768px) {
	.flex-center {
		margin: 0 auto;
		padding: 0 24px!important
	}
}

.auto {
	margin-right: auto;
	margin-left: auto
}

.hide-tablet {
	display: inherit!important
}

@media screen and (max-width:768px) {
	.hide-tablet {
		display: none!important
	}
}

.show-tablet {
	display: none!important
}

@media screen and (max-width:768px) {
	.show-tablet {
		display: inherit!important
	}
}

.hidden {
	display: none!important
}

@media screen and (max-width:420px) {
	.hide-mobile {
		display: none
	}
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

figure {
	display: inline-block
}

html {
	box-sizing: border-box;
	overflow-x: hidden
}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
	line-height: 1
}

ol,
ul,
li {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a {
	text-decoration: none
}

input {
	line-height: normal
}

.wrapper {
	z-index: 10;
	position: relative;
	margin: 0 auto;
	max-width: 100%
}

.block {
	display: -ms-flexbox;
	display: flex
}

@media screen and (max-width:768px) {
	.block {
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%
	}
}

.column {
	-ms-flex-direction: column;
	flex-direction: column
}

.container-big {
	position: relative;
	margin: 0 auto;
	max-width: 1440px
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 1280px
}

.container img,
.container picture {
	max-width: 100%
}

.max-width-large {
	max-width: 1036px
}

@media screen and (max-width:768px) {
	.max-width-large {
		max-width: 100%
	}
}

.max-width-medium {
	max-width: 952px
}

.max-width-medium>div {
	width: 50%
}

@media screen and (max-width:768px) {
	.max-width-medium {
		max-width: 100%
	}
}

.max-width-small {
	max-width: 640px;
	width: 100%
}

@media screen and (max-width:768px) {
	.max-width-small {
		max-width: 100%
	}
}

.max-width-xsmall {
	max-width: 420px;
	width: 100%
}

@media screen and (max-width:768px) {
	.max-width-xsmall {
		max-width: 100%
	}
}

.grid-two,
.grid-three,
.grid-four {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.no-wrap {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.grid-two>div:nth-child(-n+2),
.grid-three>div:nth-child(-n+3),
.grid-four>div:nth-child(-n+4) {
	margin-top: 0
}

.grid-four>div {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%
}

.grid-three>div {
	-ms-flex-preferred-size: 33.33%;
	flex-basis: 33.33%
}

.grid-two>div {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	width: 50%
}

@media screen and (max-width:768px) {
	.grid-two>div {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		width: 100%
	}
}

@media screen and (max-width:768px) {
	.grid-two>div:last-of-type {
		margin-top: 64px
	}
}

@media screen and (max-width:420px) {
	.grid-two>div:last-of-type {
		margin-top: 40px
	}
}

.container,
.grid-two>div,
.grid-three>div,
.grid-four>div {
	padding-right: 40px;
	padding-left: 40px
}

@media screen and (max-width:920px) {
	.container,
	.grid-two>div,
	.grid-three>div,
	.grid-four>div {
		padding-right: 24px;
		padding-left: 24px
	}
}

@media screen and (max-width:768px) {
	.container,
	.grid-two>div,
	.grid-three>div,
	.grid-four>div {
		padding-right: 0;
		padding-left: 0
	}
}

.grid-two>.extra-padding,
.grid-three>.extra-padding,
.grid-four>.extra-padding {
	padding-right: 60px;
	padding-left: 60px
}

.grid-two>.extra-padding {
	max-width: 50%
}

.padding-none {
	padding: 0
}

@media screen and (max-width:768px) {
	.padding-none {
		padding: inherit
	}
}

.padding-right-none {
	padding-right: 0
}

.padding-xs {
	padding-top: 24px;
	padding-bottom: 24px
}

.padding-s {
	padding-top: 40px;
	padding-bottom: 40px
}

.padding-m {
	padding-top: 64px;
	padding-bottom: 64px
}

.padding-m-all {
	padding: 64px
}

.padding-l {
	padding-top: 96px;
	padding-bottom: 96px
}

.padding-xl {
	padding-top: 128px;
	padding-bottom: 128px
}

.padding-xxl {
	padding-top: 164px;
	padding-bottom: 164px
}

.padding-xxs-top {
	padding-top: 16px
}

.padding-xs-top {
	padding-top: 24px
}

.padding-s-top {
	padding-top: 40px
}

.margin-xs-top {
	margin-top: 24px
}

.padding-m-top {
	padding-top: 64px
}

.padding-l-top {
	padding-top: 96px
}

.padding-xl-top {
	padding-top: 128px
}

.padding-xxl-top {
	padding-top: 164px
}

.padding-xxs-bottom {
	padding-bottom: 16px
}

.padding-xs-bottom {
	padding-bottom: 24px
}

.padding-s-bottom {
	padding-bottom: 40px
}

.padding-m-bottom {
	padding-bottom: 64px
}

.padding-l-bottom {
	padding-bottom: 96px
}

.padding-xl-bottom {
	padding-bottom: 128px
}

.padding-xxl-bottom {
	padding-bottom: 164px
}

.margin-xxs-left {
	margin-left: 16px
}

@media screen and (max-width:768px) {
	.padding-xl {
		padding-top: 96px;
		padding-bottom: 96px
	}
	.padding-l {
		padding-top: 64px;
		padding-bottom: 64px
	}
	.padding-xl-top {
		padding-top: 96px
	}
	.padding-xl-bottom {
		padding-bottom: 96px
	}
	.padding-m-top {
		padding-top: 40px
	}
	.padding-l-top {
		padding-top: 64px
	}
	.padding-s-top {
		padding-top: 24px
	}
	.margin-s-top {
		margin-top: 24px
	}
	.margin-xxs-left {
		margin-left: 8px
	}
}

@media screen and (max-width:420px) {
	.padding-xl {
		padding-top: 64px;
		padding-bottom: 64px
	}
	.padding-l {
		padding-top: 40px;
		padding-bottom: 40px
	}
	.padding-xl-bottom {
		padding-bottom: 64px
	}
	.padding-xl-top {
		padding-top: 64px
	}
	.padding-l-top {
		padding-top: 40px
	}
	.padding-m-top {
		padding-top: 24px
	}
}

body {
	font-family: Roboto Mono, Menlo, Monaco, Courier, monospace;
	line-height: 1.5;
	font-feature-settings: "liga", "kern";
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

h1 {
	font-size: 50px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 58px;
	margin-bottom: 28px;
	background: -webkit-linear-gradient(#bbc1cf, #95a8c9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

@media screen and (max-width:1080px) {
	h1 {
		font-size: 44px;
		line-height: 50px
	}
}

@media screen and (max-width:768px) {
	h1 {
		font-size: 38px;
		line-height: 44px
	}
}

@media screen and (max-width:420px) {
	h1 {
		font-size: 32px;
		line-height: 38px
	}
}

h2 {
	font-size: 30px;
	font-weight: 400;
	color: currentColor;
	line-height: 40px;
	margin-bottom: 16px
}

@media screen and (max-width:1080px) {
	h2 {
		font-size: 28px;
		line-height: 38px
	}
}

@media screen and (max-width:768px) {
	h2 {
		font-size: 26px;
		line-height: 36px
	}
}

@media screen and (max-width:420px) {
	h2 {
		font-size: 24px;
		line-height: 28px
	}
}

h2 span {
	background: rgba(65, 80, 94, .7)
}

h2.primary {
	color: #33ced8
}

h2.secondary {
	color: #f0be72
}

h2.tertiary {
	color: #499bfc
}

h2.alternative {
	color: #d95468
}

h2.sublime {
	color: #60af73
}

h4 {
	font-family: Roboto, sans-serif;
	font-size: 24px;
	color: #b8bfce;
	line-height: 32px
}

@media screen and (max-width:768px) {
	h4 {
		font-size: 22px;
		line-height: 30px
	}
}

@media screen and (max-width:420px) {
	h4 {
		font-size: 20px;
		line-height: 26px
	}
}

p.streamer {
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	background: -webkit-linear-gradient(#bbc1cf, #95a8c9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

@media screen and (max-width:768px) {
	p.streamer {
		font-size: 16px;
		line-height: 26px
	}
}

p {
	font-size: 16px;
	font-weight: 400;
	color: #a0b3c6;
	letter-spacing: .1px;
	line-height: 28px
}

@media screen and (max-width:768px) {
	p {
		font-size: 15px;
		line-height: 26px
	}
}

label {
	font-size: 12px;
	font-weight: 400;
	color: #4f5f6d;
	line-height: 18px;
	text-transform: uppercase
}

button {
	cursor: pointer
}

.btn {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	display: inline-block;
	padding: 16px 46px;
	line-height: 1!important;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	color: #181e24;
	letter-spacing: .8px;
	cursor: pointer;
	box-shadow: 0 14px 20px 0 rgba(15, 20, 25, .1);
	transition: all .25s ease
}

.btn:hover {
	transition: all .25s ease;
	transform: translateY(-2px);
	box-shadow: 0 14px 30px 0 rgba(15, 20, 25, .2)
}

.btn:focus {
	outline: none
}

.btn[disabled],
.btn.btn-disabled {
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	cursor: default
}

.btn.btn-primary {
	color: #181e24;
	background-image: linear-gradient(0deg, #33ced8 0, #4cebf6 100%)
}

.btn.btn-secondary {
	color: #181e24;
	background-image: linear-gradient(0deg, #f0be72 0, #f7ca85 100%)
}

.btn.btn-tertiary {
	color: #181e24;
	background-image: linear-gradient(0deg, #499bfc 0, #6eaef9 100%)
}

.btn.btn-alternative {
	color: #181e24;
	background-image: linear-gradient(0deg, #d95468 4%, #e56276 100%)
}

.btn.btn-sublime {
	background-image: linear-gradient(to top, #60af73, #8bd49c)
}

.btn.btn-small {
	font-size: 12px;
	padding: 8px 30px;
	color: #b7c5d3;
	background-color: #333f4a
}

.btn.donate {
	margin: 64px auto 66px;
	max-width: 80%;
	padding: 16px 46px;
	color: #181e24;
	background-image: linear-gradient(0deg, #499bfc 0, #6eaef9 100%);
	font-weight: 900;
	display: none
}

@media screen and (max-width:420px) {
	.btn.donate {
		display: block
	}
}

@media screen and (max-width:768px) {
	.download {
		display: none
	}
}

pre {
	display: -ms-flexbox;
	display: flex;
	margin-top: 8px;
	background-color: #1d252c;
	border-radius: 4px;
	padding: 9px 12px 10px;
	position: relative;
	overflow-x: scroll
}

@media screen and (max-width:768px) {
	pre {
		white-space: pre-wrap
	}
}

pre::-webkit-scrollbar {
	display: none
}

pre code {
	display: inline-block;
	counter-reset: linenumbers;
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: Roboto Mono, Menlo, Monaco, Courier, monospace;
	font-size: 14px;
	font-weight: 400;
	color: #718ca1;
	line-height: 21px
}

@media screen and (max-width:768px) {
	pre code {
		font-size: 13px
	}
}

@media screen and (max-width:420px) {
	pre code {
		font-size: 12px
	}
}

pre code span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.switch {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
	text-align: center
}

@media screen and (max-width:420px) {
	.switch {
		margin: 0!important;
		width: 100%
	}
	.switch li {
		display: block!important;
		margin: 0 16px!important;
		width: 33%
	}
	.switch li h4 {
		font-size: 16px
	}
	.switch svg {
		margin: 0!important
	}
}

.switch li {
	margin: 0 8px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer
}

.switch li path {
	transition: all .25s ease-in-out;
	fill: #565c6c
}

.switch li .sublime {
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	width: 18px;
	height: 23px;
	margin: 0 8px 0 0
}

.switch li .sublime span {
	transition: all .25s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 23px;
	object-fit: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0
}

.switch li .sublime span.sublime-icon {
	background-image: url(../images/projects-icon-inactive.png);
	transition: all .25s ease-in-out
}

.switch li .sublime span.sublime-icon-active {
	background-image: url(../images/projects-icon-active.png);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	transition: all .25s ease-in-out
}

.switch li h4 {
	color: #565c6c;
	transition: all .25s ease-in-out
}

.switch li.active h4 {
	transition: all .25s ease-in-out;
	color: #b8bfce
}

.switch li.active path {
	transition: all .25s ease-in-out;
	fill: #b8bfce
}

.switch li.active .sublime-icon-active {
	transition: all .25s ease-in-out;
	opacity: 1!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.switch li:hover h4 {
	transition: all .25s ease-in-out;
	color: #b8bfce
}

.switch li:hover path {
	transition: all .25s ease-in-out;
	fill: #b8bfce
}

.switch li:hover .sublime-icon-active {
	transition: all .25s ease-in-out;
	opacity: 1!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.switch span {
	margin: 0 8px
}

.switch span h4 {
	color: #758ba0
}

.switch svg {
	margin-right: 8px
}

.syntax {
	margin-right: -56px
}

@media screen and (max-width:1080px) {
	.syntax {
		margin-right: 0
	}
}

.window {
	position: relative;
	overflow: hidden;
	background: #1e262c;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1), 0 2px 8px 0 rgba(0, 0, 0, .05), 0 20px 66px 0 rgba(0, 0, 0, .08);
	border-radius: 5px;
	height: 564px;
	z-index: 100
}

@media screen and (max-width:1280px) {
	.window {
		height: 423px
	}
}

@media screen and (max-width:1080px) {
	.window {
		height: 338px
	}
}

@media screen and (max-width:920px) {
	.window {
		height: auto
	}
}

@media screen and (max-width:1280px) {
	.window.window-large {
		height: 540px
	}
}

@media screen and (max-width:1080px) {
	.window.window-large {
		height: 460px
	}
}

@media screen and (max-width:768px) {
	.window.window-large {
		height: 100%
	}
}

@media screen and (max-width:420px) {
	.window.window-large.footer-image {
		height: 310px!important
	}
}

.window .controls {
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	width: 100%;
	height: 40px;
	z-index: 999;
	padding: 5px 4px
}

.window .controls .control {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #2b3742;
	margin: 0 5px
}

@media screen and (max-width:1280px) {
	.window #language-image,
	.window #syntax-image {
		width: 600px;
		height: auto
	}
}

@media screen and (max-width:1080px) {
	.window #language-image,
	.window #syntax-image {
		width: 480px;
		height: auto
	}
}

@media screen and (max-width:920px) {
	.window #language-image,
	.window #syntax-image {
		width: 110%;
		height: auto
	}
}

@media screen and (max-width:768px) {
	.window #language-image,
	.window #syntax-image {
		width: 100%
	}
}

@media screen and (max-width:420px) {
	.window #language-image,
	.window #syntax-image {
		width: 100%;
		transform: scale(2);
		transform-origin: top left
	}
}

@media screen and (max-width:920px) {
	.window #ui-theme {
		width: 120%;
		height: auto
	}
}

@media screen and (max-width:420px) {
	.window #ui-theme {
		width: 100%;
		transform: scale(2);
		transform-origin: top left
	}
}

.window img {
	vertical-align: middle
}

@media screen and (max-width:768px) {
	.window img {
		width: 100%;
		max-width: 100%
	}
}

@media screen and (max-width:1080px) {
	.syntax-theme-code .window {
		height: auto
	}
}

@media screen and (max-width:1280px) {
	.syntax-theme-code .window img {
		max-width: 600px
	}
}

@media screen and (max-width:1080px) {
	.syntax-theme-code .window img {
		max-width: 100%
	}
}

footer {
	width: 100%;
	background-color: rgba(39, 48, 56, .94);
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 16px 0;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	border-top: 1px solid #383b44
}

footer p {
	font-size: 12px;
	line-height: 16px;
	padding: 20px 0
}

footer p span {
	color: #b62d65
}

footer .btn.download {
	margin-left: 16px
}

#footer {
	padding-top: 24px!important;
	padding-bottom: 24px!important
}

@media screen and (max-width:768px) {
	#footer {
		padding-top: 16px!important;
		padding-bottom: 16px!important
	}
}

.icon-elements {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

.package-icons {
	margin-bottom: 40px
}

.icon-row {
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 40px
}

.icon-row .single-icon {
	width: 16px;
	height: 16px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: 24px;
	position: relative
}

.icon-row .single-icon .active {
	position: absolute
}

@media screen and (max-width:1080px) {
	.icon-row .single-icon:nth-last-child(-n+2) {
		display: none
	}
}

@media screen and (max-width:920px) {
	.icon-row .single-icon:nth-last-child(-n+4) {
		display: none
	}
}

.icon-row .single-icon:last-child {
	margin-right: 0
}

.icon-row:last-child {
	margin-bottom: 0
}

html {
	background-color: #28313a;
	min-height: 100vh
}

.hero {
	background-image: linear-gradient(#181e24 5%, transparent 75%, transparent 100%)
}

.hero ::-moz-selection {
	background-color: #41505e;
	color: white
}

.hero ::selection {
	background-color: #41505e;
	color: white
}

.syntax-theme {
	overflow: visible
}

.syntax-theme ::-moz-selection {
	background-color: #33ced8;
	color: white
}

.syntax-theme ::selection {
	background-color: #33ced8;
	color: white
}

@media screen and (max-width:1440px) {
	.syntax-theme {
		overflow: hidden
	}
}

.syntax-theme .window {
	width: 800px
}

@media screen and (max-width:1280px) {
	.syntax-theme .window {
		width: 600px
	}
}

@media screen and (max-width:1080px) {
	.syntax-theme .window {
		width: 480px
	}
}

@media screen and (max-width:920px) {
	.syntax-theme .window {
		width: 110%
	}
}

@media screen and (max-width:768px) {
	.syntax-theme .window {
		width: 100%
	}
}

.syntax-theme-code {
	z-index: 9999;
	overflow: visible
}

.syntax-theme-code ::-moz-selection {
	background-color: #d95468;
	color: white
}

.syntax-theme-code ::selection {
	background-color: #d95468;
	color: white
}

@media screen and (max-width:1440px) {
	.syntax-theme-code {
		overflow: hidden
	}
}

.syntax-theme-sublime ::-moz-selection {
	background-color: #60af73;
	color: white
}

.syntax-theme-sublime ::selection {
	background-color: #60af73;
	color: white
}

.icon-package ::-moz-selection {
	background-color: #f0be72;
	color: white
}

.icon-package ::selection {
	background-color: #f0be72;
	color: white
}

.ui-theme ::-moz-selection {
	background-color: #499bfc;
	color: white
}

.ui-theme ::selection {
	background-color: #499bfc;
	color: white
}

@media screen and (max-width:768px) {
	.ui-theme .cli {
		margin-top: 40px!important
	}
}

@media screen and (max-width:420px) {
	.ui-theme .cli {
		margin-top: 24px!important
	}
}

.line-numbers {
	z-index: 100;
	position: absolute;
	left: 8px;
	top: 16px;
	width: 16px;
	height: 100%;
	background-image: url(../images/numbers.png);
	background-repeat: no-repeat
}

@media screen and (max-width:920px) {
	.line-numbers {
		display: none
	}
}

.animated {
	animation-duration: .75s;
	animation-fill-mode: both
}

@keyframes fadeIn {
	from {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
	}
	to {
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
	}
}

.fadeIn {
	animation-name: fadeIn
}

@keyframes longDelayFadeIn {
	0% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
	}
	3.3% {
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
	}
	16.7% {
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
	}
	20% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
	}
	100% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
	}
}

.longDelayFadeIn {
	animation-iteration-count: infinite;
	animation-duration: 15s;
	animation-fill-mode: both;
	animation-name: longDelayFadeIn
}

@keyframes fadeOut {
	from {
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
	}
	to {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
	}
}

.fadeOut {
	animation-name: fadeOut
}

.longDelayFadeOut {
	animation-iteration-count: infinite;
	animation-delay: 17s;
	animation-name: fadeOut
}

.blinking-cursor {
	animation: 1.25s blink step-end infinite
}

@media screen and (max-width:1080px) {
	.blinking-cursor {
		height: 50px
	}
}

@media screen and (max-width:768px) {
	.blinking-cursor {
		height: 44px
	}
}

@media screen and (max-width:420px) {
	.blinking-cursor {
		height: 38px
	}
}

@keyframes blink {
	from,
	to {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
	}
	50% {
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
	}
}

@media screen and (max-width:768px) {
	.cli {
		display: none!important
	}
}

.language-list {
	cursor: pointer
}

@media screen and (max-width:768px) {
	.language-list {
		display: none
	}
}

.language-list li {
	display: -ms-flexbox;
	display: flex;
	margin: 0 10px;
	cursor: pointer
}

.language-list li:hover path {
	transition: all .25s ease-in-out;
	fill: #ccd1e0
}

.language-list li.active path {
	transition: all .25s ease-in-out;
	fill: #ccd1e0
}

.language-list li path {
	transition: all .25s ease-in-out
}
